@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.headerBox{
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.header2{
  background: #ff4b1f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1fddff, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1fddff, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.header3{
  background: #556270;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.header4{
  background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#titleFont{
  font-family: 'Kaushan Script', cursive; 
}