@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
#background {
  position: relative;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.content {
 font-family: 'Dancing Script', cursive;
  bottom: 0;
  background: transparent;
  /* color: #f1f1f1; */
  width: 100%;
 
}
#dogVideo{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;

}